version: "3.6"
services:
  grafana:
    image: grafana/grafana:8.2.2
    ports:
      - "3000:3000"
    networks:
      - promql-net
    volumes:
      - ${PROMQLWD}/assets/grafana:/etc/grafana
  prometheus:
    image: prom/prometheus:v2.30.3
    ports:
      - "9090:9090"
    networks:
      - promql-net
    volumes:
      - ${PROMQLWD}/assets/prometheus:/etc/prometheus
  mondemoapi:
    image: ghcr.io/ing-bank/prometheus-scenarios/monitoring-demo-api:v0.0.10
    ports:
      - "8080:8080"
    networks:
      - promql-net

networks:
  promql-net:
